{:duct.core/project-ns  spa
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 ;; :duct.module/sql {}
 :duct.module/cljs {:main spa.client}

 :duct.compiler/cljs {}

 :duct.router/cascading
 [#ig/ref :spa.handler/home]

 :spa.handler/home {}
 ;; :spa.handler/api
 ;; {:db #ig/ref :duct.database/sql}
 }
